html, body {
	height: 120%;
}

body {
	background-color: #131313;
}

.container-main {
	background-color: #1b1b1b;
	position: absolute;
	left: 50%;
	top: 35%;
	transform: translate(-50%, -50%);
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 250px;
	padding-right: 250px;
	text-align: center;
	width: 50%;
}

.logo {
	width: 100%;
	height: 50%;
	max-width: 150px;
	animation: rotation 32s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.title {
	color: #ffffff;
	font-family: 'Kanit', sans-serif;
	font-family: 'Roboto Mono', monospace;
}

.description {
	color: #ffffff;
	font-family: 'Kanit', sans-serif;
	font-family: 'Roboto Mono', monospace;
}

.bracket {
	color: #919191;
}

.socials {
	font-family: 'Kanit', sans-serif;
	font-family: 'Roboto Mono', monospace;
}
.socials a:link {
	color: #dcdcdc;
	text-decoration: none;
	border-left:1px solid #bbb;
}
.socials a:visited {
	color: #dcdcdc;
	text-decoration: none;
}
.socials a:hover {
	color: #ffffff;
	text-decoration: underline;
}
.socials a:active {
	color: #ffffff;
	text-decoration: underline;
}

.payment-methods {
	font-family: 'Kanit', sans-serif;
	font-family: 'Roboto Mono', monospace;
}
.payment-methods a:link {
	color: #dcdcdc;
	text-decoration: none;
	border-left:1px solid #bbb;
}
.payment-methods a:visited {
	color: #dcdcdc;
	text-decoration: none;
}
.payment-methods a:hover {
	color: #ffffff;
	text-decoration: underline;
}
.payment-methods a:active {
	color: #ffffff;
	text-decoration: underline;
}

.contact {
	font-family: 'Kanit', sans-serif;
	font-family: 'Roboto Mono', monospace;
}
.contact a:link {
	color: #dcdcdc;
	text-decoration: none; 
	border-left:1px solid #bbb;
}
.contact a:visited {
	color: #dcdcdc;
	text-decoration: none; 
}
.contact a:hover {
	color: #ffffff;
	text-decoration: underline;
}
.contact a:active {
	color: #dcdcdc;
	text-decoration: underline;
}

.container-games {
	background-color: #1b1b1b;
	position: absolute;
	left: 50%;
	top: 80%;
	transform: translate(-50%, -50%);
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 250px;
	padding-right: 250px;
	text-align: center;
	width: 50%;
}

.games {
	font-family: 'Kanit', sans-serif;
	font-family: 'Roboto Mono', monospace;
}
.games a:link {
	color: #dcdcdc;
	text-decoration: none;
}
.games a:visited {
	color: #dcdcdc;
	text-decoration: none;
}
.games a:hover {
	color: #ffffff;
	text-decoration: underline;
}
.games a:active {
	color: #dcdcdc;
	text-decoration: underline;
}