/* -- Fonts -- */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Roboto+Mono:wght@300&display=swap');

/* -- HTML/Body -- */
html, body {
	height: 120%;
}

body {
	background-color: #131313;
	animation: 2s ease 0s 1 fade;
}

@keyframes fade {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/* -- Buttons -- */
.button {
	padding: 5px 10px;
	background-color: #292929;
	border-radius: 20px;
	position: relative;
	display: inline-block;
	margin-bottom: 5px;
	vertical-align: bottom;
	transition: all 200ms ease-in-out;
	color: #dcdcdc;
}

.button:hover {
	transform: scale(1.1);
	background-color: #dcdcdc;
	color: #292929;
	transition: all 200ms ease-in-out;
	cursor: pointer;
}

/* -- Main -- */
.container-main {
	background-color: #1b1b1b;
	position: absolute;
	left: 50%;
	top: 35%;
	transform: translate(-50%, -50%);
	padding-top: 25px;
	padding-bottom: 25px;
	padding-left: 250px;
	padding-right: 250px;
	text-align: center;
	width: 50%;
}

.logo {
	width: 100%;
	height: 50%;
	max-width: 150px;
	/*animation: rotation 32s infinite linear;*/
}

/*@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}*/

.title {
	color: #ffffff;
	font-family: 'Kanit', sans-serif;
	font-family: 'Roboto Mono', monospace;
}

.description {
	color: #ffffff;
	font-family: 'Kanit', sans-serif;
	font-family: 'Roboto Mono', monospace;
}

.bracket {
	color: #919191;
}

.socials {
	font-family: 'Kanit', sans-serif;
	font-family: 'Roboto Mono', monospace;
}
.socials a:link {
	color: #dcdcdc;
	text-decoration: none;
	/*border-left:1px solid #bbb;*/
}
.socials a:visited {
	color: #dcdcdc;
	text-decoration: none;
}
.socials a:hover {
	color: #ffffff;
	text-decoration: underline;
}
.socials a:active {
	color: #ffffff;
	text-decoration: underline;
}

.payment-methods {
	font-family: 'Kanit', sans-serif;
	font-family: 'Roboto Mono', monospace;
}
.payment-methods a:link {
	color: #dcdcdc;
	text-decoration: none;
	/*border-left:1px solid #bbb;*/
}
.payment-methods a:visited {
	color: #dcdcdc;
	text-decoration: none;
}
.payment-methods a:hover {
	color: #ffffff;
	text-decoration: underline;
}
.payment-methods a:active {
	color: #ffffff;
	text-decoration: underline;
}

.contact {
	font-family: 'Kanit', sans-serif;
	font-family: 'Roboto Mono', monospace;
}
.contact a:link {
	color: #dcdcdc;
	text-decoration: none; 
	/*border-left:1px solid #bbb;*/
}
.contact a:visited {
	color: #dcdcdc;
	text-decoration: none; 
}
.contact a:hover {
	color: #ffffff;
	text-decoration: underline;
}
.contact a:active {
	color: #dcdcdc;
	text-decoration: underline;
}

/* -- Games -- */
.container-games {
	background-color: #1b1b1b;
	position: absolute;
	left: 50%;
	top: 71%;
	transform: translate(-50%, -50%);
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 250px;
	padding-right: 250px;
	text-align: center;
	width: 50%;
}

.games {
	font-family: 'Kanit', sans-serif;
	font-family: 'Roboto Mono', monospace;
}
.games a:link {
	color: #dcdcdc;
	text-decoration: none;
}
.games a:visited {
	color: #dcdcdc;
	text-decoration: none;
}
.games a:hover {
	color: #ffffff;
	text-decoration: underline;
}
.games a:active {
	color: #dcdcdc;
	text-decoration: underline;
}

/* -- Projects -- */
.container-projects {
	background-color: #1b1b1b;
	position: absolute;
	left: 50%;
	top: 94%;
	transform: translate(-50%, -50%);
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 250px;
	padding-right: 250px;
	text-align: center;
	width: 50%;
}

.projects {
	font-family: 'Kanit', sans-serif;
	font-family: 'Roboto Mono', monospace;
}
.projects a:link {
	color: #dcdcdc;
	text-decoration: none;
}
.projects a:visited {
	color: #dcdcdc;
	text-decoration: none;
}
.projects a:hover {
	color: #ffffff;
	text-decoration: underline;
}
.projects a:active {
	color: #dcdcdc;
	text-decoration: underline;
}

/* -- Footer -- */
.container-footer {
	background-color: #1b1b1b;
	position: absolute;
	left: 50%;
	top: 110%;
	transform: translate(-50%, -50%);
	padding-left: 250px;
	padding-right: 250px;
	text-align: center;
	width: 50%;
}

.footer {
	color: #dcdcdc;
	text-decoration: none;
	font-family: 'Kanit', sans-serif;
	font-family: 'Roboto Mono', monospace;
}
.footer a:link {
	color: #dcdcdc;
	text-decoration: none;
}
.footer a:visited {
	color: #dcdcdc;
	text-decoration: none;
}
.footer a:hover {
	color: #ffffff;
	text-decoration: underline;
}
.footer a:active {
	color: #dcdcdc;
	text-decoration: underline;
}

/* -- Scrollbar -- */

/* Firefox */

* {
    scrollbar-width: none;
    scrollbar-color: #dcdcdc #151515;
}

/* Chrome, Edge, and Safari */

*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: #151515;
}

*::-webkit-scrollbar-thumb {
    background-color: #dcdcdc;
    border-radius: 5px;
    border: 0px none #ffffff;
}